**.sqlite3
.env
ToolsBinding.ipynb
.vscode
Todo.txt
vectordatabases/open_ragbench/
.ipynb_checkpoints/
**images/
**.log
Research_Paper_rag/precessed_data/chunks/text_chunks_v1.json
**.json
**.jsonl
**.sqlite
FETCH_HEAD
Latex_code_resume.py
cover_letter.md
.lock
Research_Paper_rag/Experiment_pipeline/qdrant_dense_embeddings.jsonl
